body {
    font-family: Arial, sans-serif;
    background: #111827;
    color: white;
    text-align: center;
    padding: 40px;
}

h1 {
    font-size: 42px;
}

p {
    font-size: 20px;
    color: #cbd5e1;
}

.controls {
    margin: 30px;
}

button {
    padding: 12px 20px;
    margin: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

#blockchain {
    max-width: 900px;
    margin: auto;
}

.block {
    background: #1e293b;
    border: 1px solid #475569;
    border-radius: 12px;
    padding: 20px;
    margin: 20px 0;
    text-align: left;
}

.block h3 {
    color: #60a5fa;
}

.hash {
    word-break: break-all;
    font-family: monospace;
    color: #a7f3d0;
}

.status-valid {
    color: #4ade80;
    font-size: 20px;
    font-weight: bold;
}

.status-invalid {
    color: #f87171;
    font-size: 20px;
    font-weight: bold;
}